* {
    box-sizing: border-box;
}

.profiel-veld {
    margin-top: 21px;
    margin-bottom: 21px;
    margin-right: 10%;
    margin-left: 10%;
    background-color: #dbfe45;
    padding: 1em 2.5em;
    border-radius: 0.62em;
    box-shadow: 5px 5px 10px #cccccc;
}

.kopje{
    margin-bottom: 1em;
    font-family: Marvin;
    margin-left: 12px;
    color: #03b5aa;
}

.gegevens{
    margin-bottom: 21px;
}

img{
    border-radius: 12px;
    border: #03b5aa 4px;
    border-style: solid;

}


.gegevens{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 240px;
    margin-top: 22px;
    padding: 10px;
    background-color: #BbDe25;
    border-radius: 12px;
}

.puntjesopdei{
    background-color: rgb(162, 192, 33);
    margin: 2px;
    border-radius: 0.32em;
    padding-right: 5px;
    padding: 1px;
    padding-left: 4px;
    width: 100%;

}

.adminopmaak{
    display: flex;
    flex-direction: row;
    align-content: end;

}

.uitslagen{
    background-color: #077c76;
    border-radius: 12px;
    padding: 12px;
    color: white;
}

.zoekopdrachtenAdmin{
    display: flex;
    flex-direction: column;
    align-content: center;
    padding-top: 18px;
    padding-left: 21px;
}

.knoppies{
    margin: 3px;

}